[submodule "transformers_root"]
	path = transformers_root
	url = https://github.com/huggingface/transformers
[submodule "data"]
	path = data
	url = https://github.com/wikifactcheck-english/wikifactcheck-english
